#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

@media screen and (max-width: 576px) {
    .banner {
      font-size: 2rem;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    #city-input {
      font-size: 1.5rem;
    }
    .card-deck {
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      flex: 1 0 20%;
    }
    #weather-output {
      margin-top: 1rem;
    }
    #city-name {
      font-size: 2rem;
    }
    #weather-type {
      font-size: 4rem;
    }
    li {
      font-size: 1.5rem;
    }
    #temp {
      font-size: 3rem;
    }
    #min-temp {
      font-size: 2rem;
    }
    #max-temp {
      font-size: 2rem;
    }
  }